<%= render "restaurants/navbar" %>
<div class="container pb-3">
  <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <% @star = restaurant.reviews.average(:rating).floor %>
      <%= link_to restaurant_path(restaurant) do %>
      <div class="card-trip">
        <img src="https://source.unsplash.com/350x350/?restaurant<%= restaurant.name %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= render "restaurants/star" %></h2>
          <img src="https://source.unsplash.com/50x50/?food<%= restaurant.name %>" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>