<%= render "restaurants/navbar" %>
<div class="container">
  <div class="d-flex">
    <div class="mb-3">
      <%= image_tag ("https://source.unsplash.com/500x200/?restaurant#{@restaurant.name}") %>
    </div>
    <div class="ml-3">
      <h1><%= @restaurant.name %> <%= icon('fas', 'star', class: 'text-warning') %> <%= @restaurant.reviews.average(:rating).round(2) %></h1>
      <h2><%= icon('fas', 'utensils') %> <%= @restaurant.category.capitalize %></h2>
      <h2><%= icon('fas', 'address-book') %> <%= @restaurant.address %></h2>
      <h2><%= icon('fas', 'phone-square-alt') %> <%= @restaurant.phone_number %></h2>
    </div>
  </div>
  <%= link_to "Review this restaurant", new_restaurant_review_path(@restaurant.id), class: "btn btn-primary mb-3" %>

  <% @restaurant.reviews.reverse.each do |review| %>
    <% @star = review.rating.floor %>
    <p>[ <%= render "restaurants/star" %> ] <%= review.content %></p>
  <% end %>
</div>